;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[uix/core "0.0.1-alpha"]
  [uix/dom  "0.0.1-alpha"]]

 :builds
 {:server {:target :esm
           :runtime :custom
           :output-dir "dist/server"
           :modules {:server {:exports {renderToString app.server/render}}}}

  :client {:target :esm
           :runtime :browser
           :output-dir "dist/client"
           :modules {:client {:exports {hydrate app.client/hydrate-app}}}
           :devtools {:autoload true
                      :before-load app.client/stop
                      :after-load app.client/start}
           :compiler-options {:optimizations :advanced}}}}
