;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[uix/core "0.0.1-alpha"]
  [uix/dom  "0.0.1-alpha"]]

 :builds
 {:server {:target :esm
           :runtime :custom
           :output-dir "dist/server"
           :modules {:server {:exports {renderPageToString app.server/render
                                        getPageName app.shared/get-page-name}}}}

  :client {:target :esm
           :runtime :browser
           :output-dir "dist/client"
           :devtools {:after-load app.dev/start}
           :module-loader true
           :modules {:main {:entries [app.main]}
                     :dev {:exports {render app.dev/render
                                     unmount app.dev/unmount}
                           :depends-on #{:main}}
                     :client {:exports {hydrate app.client/hydrate}
                              :depends-on #{:main}}
                     :home {:exports {Page app.pages.home/page}
                            :depends-on #{:main}}
                     :about {:exports {Page app.pages.about/page}
                             :depends-on #{:main}}}
           :module-hash-names true
           :build-options {:manifest-name "manifest.json"}}}}
